[Unit]
Description=adsy gitlab autodocs
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gitlab-autodocs /etc/gitlab-autodocs.yaml

[Install]
WantedBy=multi-user.target
